# Exercise 4: Tuples

## Aim: Introduce tuples and how to work with them.

### Issues covered:
 - Working with tuples
 - Converting a list to a tuple
 - The enumerate built-in function
 - Swapping values with tuples

## 1. Let's create a couple of tuples.

Create a tuple named `t` containing one integer `1`.

In [3]:
t=(1,)

Use indexing to print the last value of the tuple.

In [5]:
print(t[-1])

1

Create a tuple containing all values from `100` to `200`. There must be a short-cut to doing this...there is a built-in function to convert to a tuple called: `tuple()`

In [18]:
x=range (100, 201)
tuple(x)

(100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200)

Print the first and the last items in the tuple.

In [24]:
print (x[0],x[-1])

100 200

## 2. Let's use the `enumerate` built-in function.

In an earlier exercise we stepped through the items in a list using the `for` statement. We also wanted to print the index (count) of each item in the list. The solution was:
```
mylist = [23, "hi", 2.4e-10]
for item in mylist:
    print(item, mylist.index(item)) 
```

Re-write the `for` loop above using the `enumerate()` built-in function.

mylist = [23, "hi", 2.4e-10]
for (count, item) in enumerate(mylist):
    print(count, item)mylist = [23, "hi", 2.4e-10]
for (count, item) in enumerate(mylist):
    print(count, item)mylist = [23, "hi", 2.4e-10]
for (count, item) in enumerate(mylist):
    print(count, item)For each value assign the tuple: (count, item)

In [30]:
mylist = [23, 'hi', 2.4e-10]
for(count,item) in enumerate mylist:
    print(count,item)

SyntaxError: invalid syntax (3614561699.py, line 2)

## 3. Let's unpack multiple values from a list to a tuple in one line.

Assign the new variables `first`, `middle` and `last` to the values of `mylist` created above.

Print the values of `first`, `middle` and `last`.

Now re-assign the values of variables `first`, `middle` and `last` to the values of `middle`, `last` and `first` - in one line!